@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  background: #fbfbfb;
  height: 100%;
}
.App{
  background: #fbfbfb;
}
body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont,'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}
.form-control::placeholder{
  font-size: 15px !important;
  font-weight: normal !important;
  color: #adb5bd !important;
}
.login-title {
  font-size: 40px !important;
  color: transparent !important;
  background: #ff5f62 !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  padding: 10px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-family: poppins !important;
}
.headerhomescreen h2{
  font-family: poppins;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px !important;
  color: #183F7F ;
  /*color: #1b6cfc;*/

}
/*sous famille category*/
.subcategory-btn {
  background-color: #f0f0f0; /* Background color for subcategory buttons */
  color: #333; /* Text color */
  border: 0px solid #ffffff;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width:65px !important;
  height:30px;
}

.subcategory-btn:hover {
  background-color: #183F7F ; /* Hover background color */
  color: #fff; /* Hover text color */
}

.subcategory-btn.active {
  background-color: #183F7F ; /* Active background color */
  color: #fff; /* Active text color */
}
/*sous famille category*/
.category-btn3 {
font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  width: 60px  !important;
  background-color:  #dc3545 ;
  border: 0px solid #ddd;
  color: #ffffff;
  padding: 7px 4px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 8px;
  margin: 0 2px;
  
  height: 25px !important;
}
.card{
border:none !important ;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn7{
  background-color: white !important;
  color: #183F7F;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  width: 100% !important;
}
.category-btn2 {
  width: 65px  !important;
  background-color: #183F7F  ;/*#f0f0f0   #004ffa */
  font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;

  border: 0px solid #ddd;
  color: #ffff;
  padding: 7px 4px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 8px;
  margin: 0 2px;
  
  height: 28px !important;
}
.nav-link{
  color: black !important;
}
.navbar-brand{
  color: black !important;
}
.navbar-toggler{
border: none !important;

}
.btn5 {
  background: rgb(2, 0, 36);
  background: #ff5f62 !important;
  padding: 20px 10px !important;
  color: white;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
  width: 100% !important;
  text-transform: uppercase;
  padding: 15px 10px !important;
  font-size: 20px !important;
  letter-spacing: 1px !important;
  margin-top: 30px !important;
  }
  .btn10 {
    background: rgb(2, 0, 36);
    background: #ff5f62 !important;
    padding: 20px 10px !important;
    color: white;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 1px;
    width: 30% !important;
    text-transform: uppercase;
    padding: 15px 10px !important;
    font-size: 20px !important;
    letter-spacing: 1px !important;
    margin-top: 30px !important;
    }
.btn-plus {
  background: rgb(2, 0, 36);
  background: #183f7e !important;
  color: white;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 15% !important;
  margin-left: 10px;
  border-radius: 0px !important;
  padding: 0px !important;
  font-size: 25px !important;
  margin-top: 10px !important;
  
}

.btn-menu {
  background: rgb(2, 0, 36);
  background: #183f7e !important;
  padding: 20px 10px !important;
  font-size: 14px !important;
  margin-top: 40px !important;
  color: white;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  width: 120px !important;
  text-transform: uppercase;
}

.navbar-toggler-icon{
  font-size: 12px;
}
h1{
  font-size: 15px !important;
}
.flex-container{
  display: flex !important;
}
.btn{
  background-color: #0D775E!important;
  color: white !important;
  margin-right:0px !important;
  right:0 !important;
  width:120px !important;
  border-radius: 0px !important;
}
.fa-plus{
    color:black;
    margin:5px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    border:1px solid #ddd;
}
.sticky{
position:sticky;
z-index: 999999;
}
/*.d-flex{
z-index: 999999;
}*/
.bold-text {
  font-weight: bolder !important;
}
.fot{
  border-top:1px solid rgb(235, 235, 235) !important;
   background-color: #ffffff !important ;
}
.fa-minus{
color: black;

font-weight: bolder;
background-color: #ffffff;
padding: 5px;
border-radius: 3px;
border:1px solid #ddd;
}
.total-price{
  padding-top: 5px !important;
  justify-content: space-between;
}
.fa-trash{
  color:grey;
  margin-right: 27px !important;
}
input{
  margin-top:10px !important;
}
.search-bar{
  width: 650px;
  margin: 0 auto !important;
 
}

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.category-btn {
  width: 95px  !important;
  background-color: #f0f0f0;
  border: 0px solid #ddd;
  color: #333;
  padding: 7px 4px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 11px;
  margin: 0 2px;
  
  height: 40px !important;
}
.ll{
  background-color: #dbf2ee   !important;
}
.category-btn:hover {
  background-color: black;
}

.category-btn.active {
  background-color: black;
  border-color: black;
  color: white;
}

.category-slide {

  justify-content: space-around;
  align-items: center;
}

/* Footer.css */
.footer-fixed {
  position: sticky  !important;
  bottom: 0;
  width: 100%;
  z-index: 1000;
background-color: #ffffff !important;
}

.sidebar {
 
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px; /* Masquer le sidebar par défaut */
  z-index: 1005;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; 
  z-index: 1005;/* Afficher le sidebar quand il est ouvert */
}

.side-light{
background: #FBFBFB !important;
}


a.list-group-item.list-group-item-action {
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top:20px;
  border:none;
}




.list-group a i {

   /* #163052*/
  width: 50px;
  border-radius: 2px;
  padding: 5px 10px !important;
  color: #183f7e !important;
  margin-right: 10px;
  font-size: 18px; 
  font-weight: bold; 
  transform: scale(1.2); 
}

.list-group .nav-link{
  font-family:poppins;
  font-weight: 600;
  z-index: 1005
}

button.category-btn.text-truncate.col-xs-3.col-3.col-md-3 {
  font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10px;
    background: #183F7F ;
     /* #163052*/
    color: #fff;
    border-radius: 10px;
}


.main-content {
  width: 100%;
  transition: margin-left 0.3s ease;
}

.main-content.sidebar-open {
  margin-left: 250px;
  z-index: 1002;  /* Déplacer le contenu principal quand le sidebar est ouvert */
}

.navbar {
  z-index: 1000;
}

.check{
gap:0px;
}
.toolbar-inner {
  padding: 10px 0;
 
  background-color: #ffffff !important/* Change as needed */
}
.toolbar-inner1{
  padding: 10px 0;
  padding-left: 110px;
  background-color: #ffffff !important; /* Change as needed */
}
@media (max-width: 319px) {
  .toolbar-inner {
    flex-direction: column;
  }
  .nav-link {
    margin: 5px 0;
  }
}

@media (min-width: 768px) {
  .nav-link {
    margin: 0 10px;
  }
}
   .shop-card{position: relative;} 
.shop-card .product-tag {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#ffff;
  background-color: #0D775E !important;
  border-radius: 0;
  padding: 4px 0px;
  border: 0;
  font-size: 12px;
  font-weight: 350;
  width: 41px;
  height:17px;
  font-family:sans-serif;
}
.shop-card .product-tag1 {
top: 9px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  border-radius: 0;
  padding: 4px 0px;
  border: 0;
  font-size: 8px !important;
  font-weight: 350;
  width: 41px;
  height:17px;
}


.cart-product{
      background-color: #fff;
    box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    width: calc(50% - 50px);
    padding: 15px;
    margin-right: 15px;

    text-align: center;
    border:1px solid #e9ecef;
}

footer span{
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

footer i{

  background: #183F7F ;
   /* #163052*/
    width: 50px;
    border-radius: 2px;
    padding: 12px 20px !important;
    color:#fff;
}


.product-price{
  padding-left:10px !important;
  padding-right:10px !important;
  width:100%
}

.product-price{
  padding-left:10px !important;
  padding-right:10px !important;
  width:100%
}

.product-price h3{
  font-size: 15px;
    text-align: center;
    color: #183F7F ;
    font-weight: bold !important;
    margin-top:30px;
    font-family: "Poppins", sans-serif;
}
/*
.product-quantity{
  width:100%;

}*/

.product-quantity .form-control{
  font-size: 10px;
  width: 70px;
  height: 25px;
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  text-align: center;
  font-family: poppins;
  font-weight: bold;
}


.product-quantity .grat-title{

  font-family:poppins;
  font-size: 11px;
  font-weight: 600;
  text-transform:  uppercase;

}


.product-quantity .grat-title input{

  font-size: 7px;
    margin-top: 20px !important;
    margin-right: 5px !important;
    width: 15px;
    background-color: #eef3ff !important;
    border-radius: 1px !important;

}

.mt-3.col-12.col-md-12.cart-product h6 {
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
}

.search-bar  .form-control{
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  font-family: poppins;
  font-weight: 600;
  font-size: 14px;
  color: #000 ! IMPORTANT;
  text-transform: uppercase;
}




.cart-details H2{
  font-family: poppins;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px !important;
  color: #183F7F ;
}
.cart-details{
  background-color: #fbfbfb;

}
.cart-details .bg-white {
  background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #e9ecef;
}

.cart-details h3 {
  font-family: 'Poppins';
  font-weight: 600 !important;
  letter-spacing: 1px;
}

.cart-details .cart-price {
  margin-top: 5px;
    padding-left: 10px;
}
.cart-details .cart-price h6 {
  display: inline;
    font-size: 15px;
    text-align: center;
    color: #183F7F ;
    font-weight: bold !important;
    font-family: "Poppins", sans-serif;
}
.cart-details .cart-quant {
  margin-top:10px;
}

.cart-details .cart-quant .fa-minus, .cart-details .cart-quant .fa-plus {
  color: white;
  font-weight: bolder;
  background-color: #183F7F ;
  padding: 5px;
  border-radius: 0px;
  border: none;
}




.cart-details .cart-quant b {
 font-family: poppins;
 font-size: 15px !important;
}


.header{
  box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
}


.cart-client-infos {
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08) !important;
  border-radius: 2px !important;
  padding: 20px !important;
  margin-bottom: 15px !important;
  border: 1px solid #e9ecef !important;
  width: 90% !important;
}

.cart-client-infos h2 {
  font-size: 20px;
  margin-bottom: 25px;
}
.cart-client-infos .form-control {
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  font-family: poppins;
  font-weight: 600;
  font-size: 12px !important;
  color: #adb5bd ! IMPORTANT;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}


.cart-footer  .flex-container{
 padding:20px;
}

.cart-footer  .total-price span{
  font-family: poppins;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    color: #183F7F ;
    margin-top:0px !important; 
 }


 .cart-footer  .total-price {
    margin-top: 0px !important;

 }
 .Toastify__toast-body > div:last-child {

  font-family: 'Poppins';
  font-weight: 600;
  color: #000;
}


.orders-details .form-control {
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff !important;
  padding: 15px 10px;
  border-radius: 25px !important;
  font-family: poppins;
  font-weight: 600;
  font-size: 12px !important;
  color: #585858 ! IMPORTANT;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.orders-details .titre-pages h6{
  font-family: poppins;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px !important;
  margin-bottom:20px;
  color: #183F7F ;
}

.order-items{
  background-color: #fff;
  box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top:20px;
  text-align: center;
  border: 1px solid #e9ecef;

}

.order-items .card-body{

  border-bottom: 1px solid #ddd;
}
.order-items .card-body .card-title {

  font-family:poppins;
  font-size:12px !important;
}
.order-items .card-body .card-title {

  font-family:poppins;
  font-size:12px !important;
}
.order-items .card-body .card-price {

  font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #183F7F ;
    LETTER-SPACING: 1px;
}

.details-order-table h6{
font-family: poppins;
font-size: 12px;
text-transform: uppercase;
letter-spacing:1px;
font-weight: 600;
text-align:left;
margin:0px;
}
.details-order-table span{
  font-family: poppins;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing:1px;
  font-weight: 600;
  margin-left:10px;
  padding:0px;
  
  }
  .details-order-table {
    width:100%;
    margin-bottom:30px;
    background-color: #edf2fe;
     }
.details-order-table td {
  text-align:left;
  padding:10px;
  }

  .details-order-table tr {
    padding:50px;
    } 
    
    .details-order-table button {
      background: #183F7F ;
      font-family: poppins;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      padding: 10px 20px;
      color: #fff;
      letter-spacing: 2px;
      font-size: 12px;
      margin-bottom:10px;
      }

      .button-export{
        text-align:center !important;
      }


.login-page h2{

  font-family: poppins;
  font-weight:bold;
  font-size:40px !important;
  letter-spacing:2px;
  margin-bottom:20px !important;
}
.login-page .form-control {
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  font-family: poppins;
  font-weight: 600;
  font-size: 14px;
  color: #000 ! IMPORTANT;
 
  height:60px;
  margin-bottom:30px;
   }

   .login-page .form-control::placeholder {
   font-size: 15px;
   letter-spacing: 2px;
   padding-left:20px;
     }
     .login-page button {
      height: 60px !important;
    margin-top: 10px !important;
    border-radius: 50px;
        }

        .alert-danger{

          width: 100% !important;
          margin: 0px auto;
          color: #000 !important;
          font-size: 13px !important;
          text-align: center !important;
          border-radius: 1px !important;
          font-family: poppins !important;
          font-weight: 500;
          letter-spacing: 1px;
          margin-bottom: 30px !important;
        }



.login-logo img{

  width:35%;
  margin-top:30%;
  margin-bottom:40px;
}

.lot-details{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #e9ecef;
  width: 96%;
  margin-left: 2% !important;
  text-align: left;
}

.lot-details .form-control{
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  font-family: poppins;
  font-weight: 600;
  font-size: 12px !important;
  color: rgb(2, 0, 36) ! IMPORTANT;
  text-align: center !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  font-size: 16px !important;
}

.popup{
  background-color: "rgba(255, 255, 255, 0.5)";
      z-index: 1050;width: 90%;margin-left: 2%
}

.popup-details{
  background-color: #fff;
}


.popup-details .form-control{
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  font-family: poppins;
  font-weight: 600;
  font-size: 12px !important;
  color: rgb(2, 0, 36) ! IMPORTANT;
  letter-spacing: 1px;
  text-align: center !important;
  text-transform: uppercase;
  height: 50px;
  font-size: 16px !important;
}
.lot-details label{
  display: inline-block;
    font-family: poppins;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left !important;
    margin-top: 15px;
    margin-left: 5%;
    color: #2f3031;
}


.popup-details .form-control{
  width: calc(100% - 10px);
  border: none;
  background-color: #eef3ff;
  padding: 15px 10px;
  border-radius: 25px;
  font-family: poppins;
  font-weight: 600;
  font-size: 12px !important;
  color: rgb(2, 0, 36) ! IMPORTANT;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  font-size: 16px !important;
}

.popup-details .btn5 {
  background: rgb(2, 0, 36);
  background: #183f7e !important;
  padding: 15px 10px !important;
  font-size: 14px !important;
  margin-top: 15px !important;
  color: white;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
  width: 100% !important;
  text-transform: uppercase;
}

.cart-details h3 {
  font-family: 'Poppins';
    font-weight: bold !important;
    letter-spacing: 1px;
    margin-bottom: 28px !important;
    font-size: 25px;
    text-align: left;
    color: #183f7e;
}

.btn-new {
  width: 40% !important;
    height: 40px;
    border-radius: 0px !important;
    font-size: 10px !important;
    background: #183f7e !important;
    margin-top: 0px !important;
    margin-bottom: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600 !important;
}

.btn-Scan{

  background: rgb(2, 0, 36);
  background: #183f7e !important;
  color: white;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 15% !important;
  margin-left: 10px;
  border-radius: 0px !important;
  padding: 0px 6px !important;
  font-size: 25px !important;
  margin-top: 10px !important;
}

.input-itmref{
  width:90% !important;
  margin-right:10% !important;
}


.heading .col-md-4 {
  width: 33%;
}

.heading{
  background:#f4f6f8;
  padding:10px;
  border:1px solid #f3f5f5;
  width:90% !important;
  margin-top: 40px !important;
}

.heading h5{
  font-weight:600;
  font-family:poppins;
  color:#535353;
  letter-spacing: 1px;
    font-size: 14px;
}

.body-details{
  width: 90%;
  margin-left:5%;
  padding-right: 10px;
}

.body-details .card{
  border-bottom: 2px solid #e9ecef !important;
  border-radius: 0px;
}

.body-details .card p{
  font-family: poppins;
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 600;
    color: #3b3b3b;
}

.body-details .bg-success {
  --bs-bg-opacity: 1 !important;
  background-color: #dbf6e5 !important;
  color: #198754 !important;
  font-weight: 600 !important;
  padding: 8px 10px !important;
  border-radius: 50px !important;
  font-family: 'Poppins' !important;
  font-size: 8px !important ;
}

.body-details .bg-warning {
  --bs-bg-opacity: 1 !important;
  background-color: #ffe4de !important;
  color: #dc3545 !important;
  font-weight: 600 !important;
  padding: 8px 10px !important;
  border-radius: 50px !important;
  font-family: 'Poppins' !important;
  font-size: 8px !important;
}

.navbar .row{
  width:100%;
}

.navbar .col-md-3{
  width:30%;
}

.navbar .col-md-9{
  width:60%;
  text-align:center;
}

.navbar h1{
  font-family: poppins;
    font-weight: bold;
    font-size: 25px !important;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 5%;
}

.home-heading{
  text-align: left !important;
}

.Body-Home 
{
  margin-top:50px;
}
.Body-Home .col-md-6
{
  margin-top:20px;
}

.Body-Home .col-md-6
{
  width:50% !important;
}

.Body-Home .home-link
{
  width:100%;
  padding: 0%;
  display: block;
  text-decoration:none;
  height: 190px;
  text-align: left;
  padding:20px;
  border-radius: 15px;  
}
.Body-Home .home-link h5
{
  color: #2d2d2d;
  margin-top: 10px;
  font-size: 18px;
  line-height: 25px;
}

.icon-home{
  font-size: 40px;
}

.link-lstinv{
  background:#FEE8BF;
}

.link-lstinv span{
  color:#FE6812;
}

.link-creinv{
  background:#C6EEE6;
}

.link-creinv span{
  color:#03AB55;
}

.link-valinv{
  background:#D9D9FB;
}

.link-valinv span{
  color:#9700DC;
}

.link-expinv{
  background:#FDCED4;
}

.link-expinv span{
  color:#E80C1C;
}

.bi-arrow-right{
  color: #434141 !important;
  font-size:20px !important;
}
.arrow-list-inv{
  color: #fe7c12 !important;
}
.arrow-crea-inv{
  color: #03ab55 !important;
}
.arrow-val-inv{
  color: #9700dc !important;
}
.arrow-export-inv{
  color: #e80c1c !important;
}
.x-mark-menu{
  font-size: 30PX;
  margin-left: 350px;
}

.moadal-statuts {
  padding-top:8rem!important;
}

.moadal-statuts .modal-body p{
  font-family: poppins;
    text-transform: none !important;
    font-size: 15px !important;
    font-weight: 600;
    color: #3b3b3b;
    text-align:left;
}

.moadal-statuts .btn-primary-topclass{
  background: #ff9966;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    width: 45% !important;
    font-size: 15px !important;
    padding: 10px;
    border: 1px solid #ff9966;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #edf2fa;
    font-size: 13px !important;
}
.moadal-statuts .btn-cancel-topclass{
  background: #ff9966;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    width: 45% !important;
    font-size: 15px !important;
    padding: 10px;
    border: 1px solid #ff9966;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #edf2fa;
   font-size: 13px !important;
}

.bg-body{

  background: #ff9966; background: linear-gradient(to right, #ff9966, #ff5e62);
}

.icon-list-inv{
  color: #ff5e62;
}

.itemref-details{
  margin-top: 20px;
  line-height: 30px;
  color: #ff6362;
}

.itemref-details span{
  font-family: poppins;
  text-transform:uppercase;
  font-weight: 600;
  color:#ff6362;
  font-size: 14px;
}

.itemref-details p{
  font-family: poppins;
  text-transform:none;
  font-weight: 600;
  color:#495057;
  display:inline;
  font-size: 14px;
}

/* Validinv.css */
.calculator-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 10px;
    width: 70%;
}

.calculator-display {
  margin-bottom: 10px;
}

.calculator-buttons button {
  margin: 5px;
    padding: 10px 10px;
    font-size: 20px;
    width: 20%;
    font-family: poppins;
    border-radius: 10px;
    background: #EEEEEE;
    border: none;
}
.calculator-display input {
  width: 100%;
    border-radius: 50px;
    height: 50px;
    border: none;
    background: #eeeeee;
    padding-left: 10px;
    font-family: poppins;
    font-weight: 600;
    text-align: right;
    padding-right: 25px;
    font-size: 25px;
}

.validate-button {
  margin-top: 20px;
    font-family: 'Poppins';
    font-size: 14px !important;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 10px 10px;
    border: 1px solid #ff6062;
    border-radius: 2px;
    background: #ff6162;
    color: #ffffff;
}

.calculator{
  background: url(https://assets.apk.live/com.gui.calculator--ipa-1_0-icon.jpeg);
  height: 50px;
  background-size: 100%;
  width: 60px;
  background-repeat: no-repeat;
  border: none !important;
  margin-right: 0px;
  margin-top: 10px;
}
